.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 320px) {
  .container {
    max-width: 92%;
  }
}
@media (min-width: 360px) {
  .container {
    max-width: 88%;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 95%;
  }
}

@media (min-width: 1360px) {
  .container {
    max-width: 1280px;
  }
}
